<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>nl.utwente.di.gradeManager.pages</display-name>
 <servlet>
    <servlet-name>gradeManagerPages</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
        <param-name>jersey.config.server.provider.packages</param-name>
        <param-value>nl.utwente.di.gradeManager.pages</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    </servlet>
  <servlet>
		<servlet-name>Proeftabel</servlet-name>
		<servlet-class>nl.utwente.di.gradeManager.servlets.Proeftabel</servlet-class>
  </servlet>
  
  <servlet>
		<servlet-name>Resulttabel</servlet-name>
		<servlet-class>nl.utwente.di.gradeManager.servlets.Resulttable</servlet-class>
  </servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>nl.utwente.di.gradeManager.servlets.Login</servlet-class>
	</servlet>
  
  <servlet-mapping>
    <servlet-name>gradeManagerPages</servlet-name>
    <url-pattern>/pages/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
		<servlet-name>Proeftabel</servlet-name>
		<url-pattern>/proefTabel</url-pattern>
</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Resulttabel</servlet-name>
		<url-pattern>/Resulttabel</url-pattern>
</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
</servlet-mapping>
</web-app> 