<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TOSTi GradeManager applicatie groep di19</display-name>
 <servlet>
    <servlet-name>restView</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
        <param-name>jersey.config.server.provider.packages</param-name>
        <param-value>nl.utwente.di.gradeManager.rest.view</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    </servlet>
     <servlet>
    <servlet-name>restCreate</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
        <param-name>jersey.config.server.provider.packages</param-name>
        <param-value>nl.utwente.di.gradeManager.rest.create</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    </servlet>
  <servlet>
		<servlet-name>Proeftabel</servlet-name>
		<servlet-class>nl.utwente.di.gradeManager.servlets.Proeftabel</servlet-class>
  </servlet>
  
  <servlet>
		<servlet-name>Resulttabel</servlet-name>
		<servlet-class>nl.utwente.di.gradeManager.servlets.Resulttable</servlet-class>
  </servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>nl.utwente.di.gradeManager.servlets.Login</servlet-class>
	</servlet>
 <servlet>
		<servlet-name>DocentTabel</servlet-name>
		<servlet-class>nl.utwente.di.gradeManager.servlets.DocentTabel</servlet-class>
  </servlet>
  
  <servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>nl.utwente.di.gradeManager.servlets.Logout</servlet-class>
  </servlet>
  <servlet>
		<servlet-name>ImportStudent</servlet-name>
		<servlet-class>nl.utwente.di.gradeManager.servlets.ImportStudent</servlet-class>
  </servlet>
  <servlet>
		<servlet-name>Import</servlet-name>
		<servlet-class>nl.utwente.di.gradeManager.servlets.Import</servlet-class>
  </servlet>
  <servlet>
  		<servlet-name>Manager</servlet-name>
  		<servlet-class>nl.utwente.di.gradeManager.servlets.ManagerServlet</servlet-class>
  </servlet>
  <servlet>
  		<servlet-name>UpdateResult</servlet-name>
  		<servlet-class>nl.utwente.di.gradeManager.servlets.UpdateResult</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>UpdateResult</servlet-name>
    <url-pattern>/UpdateResult</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>restView</servlet-name>
    <url-pattern>/rest/view/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>restCreate</servlet-name>
    <url-pattern>/rest/create/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
		<servlet-name>Proeftabel</servlet-name>
		<url-pattern>/proefTabel</url-pattern>
</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Resulttabel</servlet-name>
		<url-pattern>/Resulttabel</url-pattern>
</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>DocentTabel</servlet-name>
    <url-pattern>/DocentTabel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImportStudent</servlet-name>
    <url-pattern>/ImportStudent</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>Import</servlet-name>
    <url-pattern>/Import</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Manager</servlet-name>
  	<url-pattern>/Manager</url-pattern>
  </servlet-mapping>
</web-app> 